page-chat {

}

.me-message {
  background-color: white;
  color: #333333;

}

.you-message {
  background-color: color($colors, primary);
  color: white;
}

.both-message {
  border-radius: 0.2em;
  padding: 0.5em;
  max-width: 60%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.message-container {
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
}

.me-message-container {
  flex-direction: row-reverse;
}

.you-message-container {
  flex-direction: row;
}

.chat-panel {
  display: flex;
  background-color: white;
  align-items: center;
}

.chat-send-icon {
  font-size: 2em;
  margin-right: 0.4em;
}

.chat-picture {
  width: 3em;
  height: 3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
