.result-card {
  cursor: pointer;
}

.profile-result {
  display: flex;
  align-items: center;
  padding-right: 0.5em;
}

.picture {
  width: 4em;
  height: 4em;
  margin: 0.5em 2em 0.5em 1em;
}

.shortDescription {
  color: #888888;
}

.badges-result {
  display: flex;
}

.badge-result {
  margin: 0.2em;
  border-radius: 0.2em;
  font-size: 8px;
}

.all-badges-result {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}
