.profile-result {
  display: flex;
  align-items: center;
}

.picture {
  width: 4em;
  height: 4em;
  margin: 0.5em 2em 0.5em 1em;
}

.shortDescription {
  color: #888888;
}

.badges-result {
  display: flex;
}

.badge-result {
  margin: 0.2em;
}
