#map {
  width: 100%;
  height: calc(100% - 40px);
}

.map-legend {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
}

.spinner-screen {
  width: 100%;
  height: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}
