<ion-card class="result-card" (click)="goToChat()">
  <div class="profile-result">
    <div class="picture"><img [src]="message.picture"/></div>
    <div class="bannerText">
      <div class="name">
        {{ message.firstname }} {{ message.lastname }}
      </div>
      <div class="shortDescription">
        {{ message.messages[message.messages.length - 1].message }}
      </div>
    </div>
  </div>
  <div class="badges-result">
    <ion-badge *ngFor="let lesson of message.lessons" class="badge-result" >{{ lesson }}</ion-badge>
  </div>
</ion-card>
