<ion-card class="card-md" (click)="goToChat()">
  <div class="card-both card-primary">
    <div class="card-primary-picture"><img class="thumbnail" [src]="userProvider.getStatic(result.user.public.picture)"/></div>
    <div class="card-info">
      <div class="card-name">
        {{ result.user.public.firstname }} {{ result.user.public.lastname }}
      </div>
      <div class="card-short-desc">
        {{ result.discussion.messages[result.discussion.messages.length - 1].content }}
      </div>
    </div>
  </div>
</ion-card>
