<ion-header>
  <header title="Take a lesson"></header>
</ion-header>

<ion-content>
  <div class="form take-form">

    <!-- PROFILE BANNER NOT NECESSARY HERE -->
    <!-- <div *ngIf="userProvider.user">
      <profile-banner [firstname]="userProvider.user.public.firstname" [lastname]="userProvider.user.public.lastname" [picture]="userProvider.user.public.picture" [shortDescription]="userProvider.user.public.shortDescription"></profile-banner>
    </div> -->

        <!-- LESSON TYPE -->
        <ion-item>
          <ion-segment name="lessonType" [(ngModel)]="takeForm.type" color="primary">
                <ion-segment-button value="regular" (ionSelect)="selectedRegular()">
                  REGULAR
                </ion-segment-button>
                <ion-segment-button value="punctual" (ionSelect)="selectedPunctual()">
                  ONE-TIME
                </ion-segment-button>
            </ion-segment>
        </ion-item>

        <!-- TOPICS -->
        <div  class="topics-search">
          <div padding class="topics-label">Topic(s)</div>
          <ion-searchbar
            [(ngModel)]="takeForm.topics"
            [showCancelButton]="shoudShowCancel"
            (ionInput)="searchTopic($event)"
            (ionFocus)="onTopicFocus()"
            animated="true"
            placeholder="What would you like to learn?"
            >
          </ion-searchbar>
        </div>

        <!-- TOPICS BADGES -->
        <div class="topics-badges">
          <ion-badge *ngFor="let topic of takeForm.topics">{{ topic }}</ion-badge>
        </div>
        <br/>

        <!-- LOCATION -->
        <div  class="location-search">
          <div padding class="location-label">City or location</div>
          <ion-searchbar
          [(ngModel)]="takeForm.location"
          [showCancelButton]="shouldShowCancel"
          (ionInput)="searchLocation($event)"
          (ionFocus)="onLocationFocus()"
          animated="true"
          placeholder="Where will you take the lessons?"
          >
          </ion-searchbar>
        </div>


        <!-- MOVE BUTTONS -->
        <div class="move-panel">
          <div class="move-label" padding>Preference for the lesson</div>
          <div class="move-buttons">
            <button ion-button [outline]="takeForm.moving !== 'move'" (click)="setMoving('move')">I move</button>
            <button ion-button [outline]="takeForm.moving !== 'host'" (click)="setMoving('host')">I host</button>
            <button ion-button [outline]="takeForm.moving !== 'both'" (click)="setMoving('both')">Both</button>
          </div>
        </div>

        <!-- CALENDAR -->
        <br/>

        <div *ngIf="takeForm.type === 'punctual'">
          <div padding class="calendar-label">Calendar</div>
          <calendar (dates)="onDatesSelection($event)" mode="take" [initdates]="[]" [modifiable]="true"></calendar>
        </div>


        <!-- SUBMIT BUTTON -->
        <div class="button-panel">
          <button ion-button color="primary" (click)="goToResults()">Show results</button>
        </div>
      </div>

</ion-content>

<ion-footer>
  <footer></footer>
</ion-footer>
