<ion-header>
  <header [title]="'TITLE_TAKE' | translate"></header>
</ion-header>

<ion-content>
  <div class="form take-form">

        <!-- LESSON TYPE -->
          <ion-segment class="segments" name="lessonType" [(ngModel)]="takeForm.type" color="primary">
                <ion-segment-button class="segment" value="regular" (ionSelect)="selectedRegular()">
                  {{ 'FORM_REGULAR' | translate }}
                </ion-segment-button>
                <ion-segment-button value="punctual" (ionSelect)="selectedPunctual()">
                  {{ 'FORM_PUNCTUAL' | translate }}
                </ion-segment-button>
            </ion-segment>

        <!-- TOPICS -->

        <div  class="topics-search">
          <div padding class="topics-label">{{ 'FORM_TOPICS' | translate }}</div>

          <ion-searchbar
            [(ngModel)]="topicsDisplay"
            [showCancelButton]="shoudShowCancel"
            (ionInput)="searchTopic($event)"
            (ionFocus)="onTopicFocus()"
            animated="true"
            [placeholder]="'FORM_TOPICS_DESCRIPTION_TAKE' | translate"
            >
          </ion-searchbar>
        </div>

        <!-- TOPICS BADGES -->
        <div class="topics-badges">
          <ion-badge *ngFor="let topic of takeForm.topics">{{ topic }}</ion-badge>
        </div>

        <br />

        <!-- LOCATION -->
        <div  class="location-search">
          <div padding class="location-label">{{ 'FORM_LOCATION' | translate }}</div>

          <ion-searchbar
          [(ngModel)]="takeForm.location.fullAddress"
          [showCancelButton]="shouldShowCancel"
          (ionInput)="searchLocation($event)"
          (ionFocus)="onLocationFocus()"
          animated="true"
          [placeholder]="'FORM_LOCATION_DESCRIPTION_TAKE' | translate"
          >
          </ion-searchbar>
        </div>


        <!-- MOVE BUTTONS -->

        <div class="move-panel">
          <div class="move-label" padding>{{ 'FORM_PREFERENCE' | translate}}</div>

          <div class="move-buttons">
            <button ion-button [outline]="takeForm.moving !== 'move'" (click)="setMoving('move')">{{ 'FORM_MOVE' | translate}}</button>
            <button ion-button [outline]="takeForm.moving !== 'host'" (click)="setMoving('host')">{{ 'FORM_HOST' | translate}}</button>
            <button ion-button [outline]="takeForm.moving !== 'both'" (click)="setMoving('both')">{{ 'FORM_BOTH' | translate}}</button>
          </div>
        </div>

        <!-- CALENDAR -->
        <br />

        <div *ngIf="takeForm.type === 'punctual'">
          <div padding class="calendar-label">{{ 'FORM_CALENDAR' | translate }}</div>
          <calendar (datesEmitter)="onDatesSelection($event)" mode="take" [dates]="takeForm.dates" [modifiable]="true"></calendar>
        </div>


        <!-- SUBMIT BUTTON -->

        <div class="button-panel">
          <button ion-button color="primary" (click)="goToResults()">{{ 'FORM_SHOWRESULTS' | translate }}</button>

        </div>

      </div>
</ion-content>

<ion-footer>
  <footer></footer>
</ion-footer>
