page-give-form {
}

.move-panel {
    width: 100%;
}


.topic-label {
    padding-bottom: 0;
}

.topics-badges {
    display: flex;
    align-items: left;
    margin-top: 0.5em;
    justify-content: space-around;
}

.location-search {
    margin-top: -2em;
}
.location-label {
    padding-bottom: 0px;
}

.move-label {
    margin-bottom: 16px;
}
.move-buttons {
    display: flex;
    justify-content: space-around;
}

.button-panel {
  width: 100%;
  display: flex;
  justify-content: center;
}

#map-form {
  width: 100%;
  height: calc(100% - 42px);
}

.segments {
  background: white;
}

.segment {
}
