.card-md {
  margin-top: 2em;
  margin-bottom: 2em;
}

.card-token {
  border-left: solid 4px color($colors, primary);
}

.card-given {
  border-left: solid 4px color($colors, secondary);
}

.card-inactive {
  border-left: solid 4px color($colors, disable);
}

.card-primary-picture {
  min-width: 50px;
  max-width: 50px;
  margin: 1em;
}

.card-secondary-picture {
  min-width: 40px;
  max-width: 40px;
  margin: 1em;
}

.card-both {
  display: flex;
  align-items: center;
  background-color: white;
}

.card-info {
  flex-grow: 1;
}

.card-short-desc {
  max-height: 50px;
  color: color($colors, grey);
}

.card-icon {
  font-size: 20px;
  margin: 1em;
}

.card-secondary {
  background-color: color($colors, light)
}

.card-badges {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.card-badge {
  margin: 2px;
  font-size: 10px;
}
