<ion-card [class]="'card-' + ((result.lesson.active) ? ((result.lesson.author.role) === 'student' ? 'token' : 'given') : 'inactive') + ' card-md'">
  <div class="card-both card-primary">
    <div class="card-primary-picture"><img [src]="author.public.picture"/></div>
    <div class="card-info">
      <div class="card-name">
        {{ author.public.firstname }} {{ author.public.lastname }} <span class="card-short-desc">({{ author.public.gender }} - {{ author.public.age }})</span>
      </div>
      <div class="card-short-desc" *ngIf="userProvider.user.id !== author.id">
        {{ author.discussion.messages[author.discussion.messages.length - 1].content }}
      </div>
    </div>
    <div *ngIf="userProvider.user.id !== author.id" class="card-icon" (click)="goToChat(author)">
      <ion-icon [color]="getMessageColor(author)" name="text"></ion-icon>
    </div>
    <div *ngIf="result.lesson.active && userProvider.user.id == author.id" class="card-icon" (click)="desactivate(result.lesson._id)">
      <ion-icon color="dark" name="close"></ion-icon>
    </div>
  </div>
  <div class="card-badges">
    <div>
      <ion-badge *ngFor="let topic of result.lesson.topics" class="card-badge" [color]="(result.lesson.active ? (result.lesson.author.role === 'student' ? 'primary' : 'secondary') : 'disable')">{{ topic }}</ion-badge>
    </div>
    <div>
      <ion-badge class="card-badge" [color]="(result.lesson.active ? (result.lesson.author.role === 'student' ? 'primary' : 'secondary') : 'disable')">{{ result.lesson.type.toUpperCase() }}</ion-badge>
      <ion-badge class="card-badge" [color]="(result.lesson.active ? (result.lesson.author.role === 'student' ? 'primary' : 'secondary') : 'disable')">{{ result.lesson.location.town.toUpperCase() }}</ion-badge>
      <ion-badge class="card-badge" [color]="(result.lesson.active ? (result.lesson.author.role === 'student' ? 'primary' : 'secondary') : 'disable')">{{ result.lesson.moving.toUpperCase() }}</ion-badge>
    </div>
  </div>
  <div *ngFor="let user of users" class="card-both card-secondary">
    <div class="card-secondary-picture"><img [src]="user.public.picture"/></div>
    <div class="card-info">
      <div class="card-name">
        {{ user.public.firstname }} {{ user.public.lastname }} <span class="card-short-desc">({{ user.public.gender }} - {{ user.public.age }})</span>
      </div>
      <div class="card-short-desc" *ngIf="userProvider.user.id !== user.id">
        {{ user.discussion.messages[user.discussion.messages.length - 1].content }}
      </div>
    </div>
    <div *ngIf="userProvider.user.id !== user.id" class="card-icon" (click)="goToChat(user)">
      <ion-icon [color]="getMessageColor(user)" name="text"></ion-icon>
    </div>
  </div>
</ion-card>
