<ion-header>
  <header [title]="'TITLE_SIGNUP' | translate"></header>
</ion-header>

<ion-content padding>
  <ion-card class="login-card">
    <div class="login-title">{{ 'SIGNUP_SIGN' | translate }}</div>
    <ion-item class="login-item">
      <ion-label color="primary" stacked>{{ 'SIGNUP_EMAIL' | translate }}</ion-label>
      <ion-input [(ngModel)]="email" type="email"></ion-input>
    </ion-item>
    <ion-item class="login-item">
      <ion-label color="primary" stacked>{{ 'SIGNUP_PASSWORD' | translate }}</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
    <ion-item class="login-item">
      <ion-label color="primary" stacked>{{ 'SIGNUP_FIRSTNAME' | translate }}</ion-label>
      <ion-input [(ngModel)]="firstname" type="test"></ion-input>
    </ion-item>
    <ion-item class="login-item">
      <ion-label color="primary" stacked>{{ 'SIGNUP_LASTNAME' | translate }}</ion-label>
      <ion-input [(ngModel)]="lastname" type="text"></ion-input>
    </ion-item>
    <ion-item class="login-item">
      <ion-label color="primary" stacked>{{ 'SIGNUP_BIRTHYEAR' | translate }}</ion-label>
      <ion-input [(ngModel)]="birthyear" type="number"></ion-input>
    </ion-item>
    <ion-item class="login-item">
      <ion-label color="primary" stacked>{{ 'SIGNUP_GENDER' | translate }}</ion-label>
      <ion-select [(ngModel)]="gender">
        <ion-option value="M">{{ 'SIGNUP_MALE' | translate }}</ion-option>
        <ion-option value="F">{{ 'SIGNUP_FEMALE' | translate }}</ion-option>
        <ion-option value="N/A">{{ 'SIGNUP_NA' | translate }}</ion-option>
      </ion-select>
    </ion-item>
    <div class="login-spinner-error">
      <ion-spinner *ngIf="userProvider.spinner"></ion-spinner>
      <div *ngIf="oneTimeClicked && !userProvider.isAuth && !userProvider.spinner" class="no-results">{{ 'SIGNUP_FAIL' | translate }}</div>
    </div>
    <div class="login-buttons">
      <button ion-button (click)="signUp()" class="login-button">{{ 'SIGNUP_BUTTON' | translate }}</button>
    </div>

  </ion-card>
</ion-content>

<ion-footer>
  <footer></footer>
</ion-footer>
