<ion-toolbar>
  <ion-buttons>
    <button (click)="goToLessons()" class="footer-button">
        <div class="footer-icon-badge">
          <div *ngIf="userProvider.user" class="footer-badge">23</div>
          <ion-icon color="dark" name="archive" class="footer-icon"></ion-icon>
        </div>
        {{ 'FOOTER_LESSONS' | translate }}
    </button>
    <button (click)="goToHome()" class="footer-button">
        <ion-icon color="dark" name="home" class="footer-icon"></ion-icon>
        {{ 'FOOTER_HOME' | translate }}
    </button>
    <button (click)="goToMessages()" class="footer-button">
        <ion-icon color="dark" name="text" class="footer-icon"></ion-icon>
        {{ 'FOOTER_MESSAGES' | translate }}
    </button>
  </ion-buttons>
</ion-toolbar>
