<ion-toolbar>
  <ion-buttons>
    <button (click)="goToLessons()" class="footer-button">
        <div class="footer-icon-badge">
          <div *ngIf="userProvider.user && discussionProvider.number > 0" class="footer-badge">{{ discussionProvider.number }}</div>
          <ion-icon color="dark" name="archive" class="footer-icon"></ion-icon>
        </div>
        {{ 'FOOTER_LESSONS' | translate }}
    </button>
    <button (click)="goToHome()" class="footer-button">
        <ion-icon color="dark" name="home" class="footer-icon"></ion-icon>
        {{ 'FOOTER_HOME' | translate }}
    </button>
    <button (click)="goToNearby()" class="footer-button">
        <ion-icon color="dark" name="compass" class="footer-icon"></ion-icon>
        {{ 'FOOTER_NEARBY' | translate }}
    </button>
  </ion-buttons>
</ion-toolbar>
