.profile-banner-container {
  margin-top: 0;
  box-shadow: 0 0 5px grey;
  background-color: white;
}

.profile-banner {
  // box-shadow: 0 0 5px grey;
  display: flex;
  align-items: center;
  background-color: white;
}

.picture {
  width: 4em;
  height: 4em;
  margin: 0.5em 2em 0.5em 1em;
}

.shortDescription {
  color: #888888;
}

.badges-result {
  display: flex;
}

.badge-result {
  margin: 0.2em;
  margin-left: 0.4em;
  margin-right: 0.4em;
  border-radius: 0.2em;
  font-size: 8px;
}

.all-badges-result {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}