.profile-banner {
  box-shadow: 0 0 5px grey;
  display: flex;
  align-items: center;
}

.picture {
  width: 4em;
  height: 4em;
  margin: 0.5em 2em 0.5em 1em;
}

.shortDescription {
  color: #888888;
}
