page-editprofile {

// .popover {
//     height: auto !important;
// }
// .popover ion-header-bar {
//     position: relative;
// }
// .popover ion-content {
//     top: 0;
//     position: relative;
// }

ion-content {
	// height:auto !important;
	// height:50vh;
	// margin:3vw;
	// max-height:auto !important;
	// background-color:white;

}
.editcontent{
	 background-color:white;
	 position:relative;
}
.editcontent button{
	// position:absolute;
	right:0px;
}
ion-list{
	margin-bottom: 0px !important;
}
.scroll-content{
	padding-bottom:0px !important;
}
}