<ion-header>
  <header title="Give Form"></header>
</ion-header>

<ion-content>
  <div class="form" class="give-form">
    
      <!-- PROFILE BANNER NOT NECESSARY HERE -->
      <!-- <div *ngIf="userProvider.user">
        <profile-banner [firstname]="userProvider.user.public.firstname" [lastname]="userProvider.user.public.lastname" [picture]="userProvider.user.public.picture" [shortDescription]="userProvider.user.public.shortDescription"></profile-banner>
      </div> -->

        <!-- LESSON TYPE -->
        <ion-item>
          <ion-segment color="secondary" name="lessonType" [(ngModel)]="giveForm.type">
                <ion-segment-button value="regular" (ionSelect)="selectedRegular()">
                  REGULAR
                </ion-segment-button>
                <ion-segment-button value="punctual" (ionSelect)="selectedPunctual()">
                  ONE-TIME
                </ion-segment-button>
            </ion-segment>
        </ion-item>

        <!-- TOPICS -->
        <div  class="topics-search">
          <div padding class="topic-label">Topics</div>
          <ion-searchbar
            [(ngModel)]="giveForm.topic"
            [showCancelButton]="shoudShowCancel"
            (ionFocus)="onTopicFocus()"
            animated="true"
            placeholder="What would you like to teach?"
            >
          </ion-searchbar>
        </div>

        <!-- TOPICS BADGES -->
        <div class="topics-badges">
          <ion-badge color="secondary" *ngFor="let t of giveForm.topics">{{ t }}</ion-badge>
        </div>
        <br/>

        <!-- LOCATION -->
        <div  class="location-search">
          <div padding class="location-label">Location</div>
          <ion-searchbar
          [(ngModel)]="giveForm.location"
          [showCancelButton]="shouldShowCancel"
          (ionFocus)="onLocationFocus()"
          animated="true"
          placeholder="Where will you give the lessons?"
          >
          </ion-searchbar>
        </div>


        <!-- MOVE BUTTONS -->
        <div class="move-panel">
          <div class="move-label" padding>Moving</div>
          <div class="move-buttons">
            <button ion-button color="secondary" [outline]="giveForm.moving !== 'move'" (click)="setMoving('move')">Move</button>
            <button ion-button color="secondary" [outline]="giveForm.moving !== 'host'" (click)="setMoving('host')">Host</button>
            <button ion-button color="secondary" [outline]="giveForm.moving !== 'both'" (click)="setMoving('both')">Both</button>
          </div>
        </div>

        <!-- CALENDAR -->
        <br/>

        <div *ngIf="giveForm.type === 'punctual'">
          <div padding class="calendar-label">Calendar</div>
          <calendar (dates)="onDatesSelection($event)" mode="give"></calendar>
        </div>


        <!-- SUBMIT BUTTON -->
        <div class="block-button">
          <button ion-button color="secondary" class="result-button" (click)="goToResults()">Show results</button>
        </div>
      </div>

</ion-content>

<ion-footer>
  <footer></footer>
</ion-footer>
