<ion-header>
  <header [title]="'TITLE_LESSONS' | translate"></header>
</ion-header>

<ion-content>
  <div class="legend">
    <ion-badge color='primary'>{{ 'LESSONS_TAKE' | translate }}</ion-badge>
    <ion-badge color='secondary'>{{ 'LESSONS_GIVE' | translate }}</ion-badge>
  </div>
  <ion-label padding>{{ 'LESSONS_ACTIVE' | translate }}</ion-label>
  <lesson-card *ngFor="let result of activeLessons()" [result]="result"></lesson-card>
  <ion-label padding>{{ 'LESSONS_INACTIVE' | translate }}</ion-label>
  <lesson-card *ngFor="let result of inactiveLessons()" [result]="result"></lesson-card>
</ion-content>

<ion-footer>
  <footer></footer>
</ion-footer>
