.calendar {
  background-color: #DDDDDD;
  display: flex;
  overflow: scroll;
}

.day {
  margin: 0.5em;
  width: 8em;
}

.am {
  width: 8em;
  height: 5em;
  background-color: #EEEEEE;
  display: flex;
  justify-content: center;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom: 1px dashed #CCCCCC;
  color: #888888;
}

.pm {
  width: 8em;
  height: 5em;
  background-color: #EEEEEE;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.selected {
  color: white;
}

.calendar-take {
  background-color: color($colors, primary);
}

.calendar-give {
  background-color: color($colors, secondary);
}

.weekend {
  background-color: #BBBBBB;
  color: #FFFFFF;
  border-color: #FFFFFF;
}
